<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Firework Viewer </title>
    <style>
        /* basic styles for black background and crosshair cursor */

        body {
            /*	background: #000;*/
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            background-color: #000000;
        }

        canvas {
            cursor: crosshair;
            display: block;
        }

        header {
            background-color: #666;
            padding: 1px;
            text-align: left;
            font-size: 20px;
            color: white;
            height: 150px;
            overflow: auto;
            scroll-behavior: smooth;

        }

        header2 {
            background-color: rgb(113, 181, 212);
            padding: 1px;
            text-align: center;
            font-size: 10px;
            color: rgb(0, 0, 0);
            /* height: 100px;*/

        }

        article {
            float: left;
            padding: 0px;
            width: 100%;
            background-color: #000000;
        }

        .firework-canvas {
            height: 99vh;
        }

        .console-display {
            height: 0vh;
            overflow: hidden;
        }
    </style>
</head>

<body translate="no">


    @RenderBody()



</body>

</html>