@{
    ViewData["Title"] = "Home Page";
}

<article class="firework-canvas">
    <canvas id="canvas">
        <!--  width style="border:2px solid #c0b9b9;"> size of canvas will be set later in the script -->

    </canvas>



</article>

@* <header class="console-display" id="MyHeader">
    <div id="MyConsole">
    </div>
    </header> <header2>
    <div id="DebugConsole">
    </div>
    <div id="demo">
    <!-- <button type="button" onclick="UpdateTimerTotal(1)"> +2 to TimerTotal </button>
    <button type="button" onclick="UpdateTimerTotal(-1)">-2 to TimerTotal </button>
    <button type="button" onclick="UpdateTimerTotal(80)">Reset TimerTotal to 80 (default)</button>
    <button type="button" onclick="AjaxGetMessageFromQueue()">Call Ajax!!!</button> -->
    <button type="button" onclick="location.href='/Leaderboard.html'"> <b> End the show</b></button>
    <button id="showqr" type="button"> <b> QR Code</b></button>
    </div>
    </header2> *@